[defaults]
host_key_checking = false
#inventory = inventories/test/hosts
#inventory = ansible/inventories/prod/hosts
#vault_password_file = .secret
remote_user = a
ansible_become_user = a
ansible_become_pass = a